@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
/* .cf { *zoom: 1; } */

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* common class style start */
.background-white{background-color: #fff;}
.background-color-blue{background-color: #5386C1;}
.font-color-white{color: #fff;}
.font-color-light-grey{ color: #706D72;}
.font-color-mediumgrey{color: #C4C4C4;}
.font-color-grey1{color: #9CB9DB;}
.font-color-blue{color: #83A8D2;}
.first-letter-caps::first-letter{text-transform: uppercase; }
.caps-first{text-transform: capitalize;}
.caps{ text-transform: uppercase;}
.font-sizee{ font-size: 14px;}

.h4{
  font-size: 32px;
  text-align: center;
}
/* common class style end */
/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 85%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header{ 
  width: 100%;
  min-height: 450px;
  position: relative;
}

header div figure{ 
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute; 
  top: 0;
  left: 0;
}

header figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.structure{
  padding: 50px 0 70px 0;
  justify-content: space-between;
  display: flex;
}

.structure h1{ 
  font-weight: bold;
  font-size: 18px;
}
.structure h1 a{ padding: 5px;}

.structure h1 a:hover{ 
  color: #5386C1;
  transition: 0.2s;
}

nav ul{ display: flex; }

nav li a{  padding: 6px 20px; }

nav li a:hover{ 
 color: #5386C1;
 transition: 0.2s;
}

.hamburger{ 
  width: 3%;
    line-height: 0.5;
    
}

.bar{
  border-bottom: 1px solid #000;
  text-indent: -9999px;
  display: block;
}

div h2{
  padding: 0 0 30px 0;
  font-size: 46px;
  text-align: center;
}
.welcome p{ text-align: center;}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* home section style start */
.home{ padding: 70px 0 70px 0;}
.home ul{ display: flex;}

.home ul li:not(:first-child){
   border-left: 1px solid #C4C4C4; 

  }

  .home ul li:not(:first-child){
    padding: 0 0 0 40px;
  }

.home div h3{
  width: 50%;
  line-height: 1.3;
  font-size: 18px;
}  

.home div p{
  width: 85%;
  padding: 20px 0 20px 0;
  font-size: 13px;
  line-height: 1.6;
}

.button a{
  padding: 10px 15px;
  font-size: 13px;
  border: 1px solid #fff;
}

.button a:hover{
  border: 1px solid #000;
  background: #fff;
  color: #5386C1;
}
/* home section style end */

/* generic section style start */

.generic h4{ 
  font-weight: lighter;
  padding: 80px 0 15px 0;
}

.genericspan1{ 
  display: block;
  text-align: center;
  padding: 0 0 50px 0;
}

.generic ul{ 
  display: flex; 
  justify-content: space-between;
  padding: 0 0 100px 0;
}
.generic ul li{
   width: 22%;
   border: 0.5px solid #C4C4C4;
  }

.generic li figure{ 
  display: flex;
  justify-content: center;
}

.generic figure img{ 
  width: 60%;
  border-radius: 90px;
  margin: 42px 0 20px 0;
}

.generic span{ 
  display: block;
  text-align: center;
  line-height: 1.5;
}
.generic span:last-child{ padding: 0 0 50px 0;}
/* generic section style end */
/* Element section style start */
.elements{ 
  padding: 0 0 90px;
  border-bottom: 1px solid #c4c4c5;
}

.elements ul{ 
  display: flex;
  justify-content: space-between;
}

.elements ul li{ width: 47%;}

.elements h4{padding: 100px 0 10px 0;}

.elements span{
  display: block;
   text-align: center;
   padding: 0 0 60px 0;
  }

  .elements li figure{ padding: 0 0 30px 0;}

  .elements h5{ font-size: 19px;}

  .elements li p{
    padding: 20px 0;
    line-height: 1.3;
  }
/* Element section style end */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer{ padding: 30px 0 ;}

footer .wrapper {
  display: flex;
  justify-content: space-between;
}

footer p{ 
  font-size: 10px;
  LINE-HEIGHT: 1.5;
}

.socialmedia a::before{
  font-family: "fontAwesome";
 text-indent: 0;
 float: left;
}

.socialmedia a{
  text-indent: -9999px;
  float: left;
  padding: 0 5px;
}
.socialmedia a:hover{ color: #000;}
.socialmedia a[title="Facebook"]::before{ content:"\f09a" ;}
.socialmedia a[title="Twitter"]::before{ content:"\f099" ;}
.socialmedia a[title="Linkedin"]::before{ content:"\f08c" ;}
.socialmedia a[title="Pininterest"]::before{ content:"\f0d2" ;}
.socialmedia a[title="Vimeo"]::before{ content:"\f194" ;}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  